/* التنسيق العام */
body {
    font-family: 'Cairo', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden; /* منع التمرير الأفقي */
}

header {
    background: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    font-weight: 700;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    color: #34495e;
    text-align: center;
    margin-bottom: 20px;
}

.wheel-container {
    position: relative;
    text-align: center;
    margin: 20px auto;
    width: 500px;
    height: 500px;
}

canvas {
    border-radius: 50%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.arrow {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg); /* توجيه السهم للأسفل */
    font-size: 40px;
    color: #e74c3c;
}

button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #c0392b;
}

.name-input-container {
    text-align: center;
    margin-bottom: 20px;
}

.name-input-container input {
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

/* تأثير القصاصات الملونة */
.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0.8;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    background-color: red; /* اللون الافتراضي الذي سيتم استبداله */
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh); /* سقوط القصاصات عبر الشاشة */
    }
}